.App {
  text-align: center;
  display: grid;
  /* stretch to full height of grid cell */
  /* align-items: stretch; */
  grid-gap: 10px 20px;
  /* row fractions */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 120px 300px 200px;
  /* layout */

  grid-template-areas:
    "tbar tbar tbar"
    ". title ."
    "listDocs editor listUsers"
    "listDocs editor addUsers"
}

/* placement */
.Toolbar {
  grid-area: tbar;
  background-color: lightgreen;
  width: 100%;
  height: 100px;
}

.ListDocs {
  grid-area: listDocs;
  background-color: lightyellow;
  border: 2px solid black;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ListUsers {
  grid-area: listUsers;
  background-color: lightpink;
  border: 2px solid black;
  height: 100%;
  padding: 0;
  margin: 0;
}

.AddUsers {
  grid-area: addUsers;
  background-color: lightgrey;
  border: 2px solid black;
  height: 100%;
  padding: 0;
  margin: 0;
}

.Title {
  grid-area: title;
}

.Quill {
  grid-area: editor;
  border: 2px solid black;
  height: 100%;
  padding: 0;
}

.AuthForm form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.AuthForm label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.AuthForm input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
}

.AuthForm .login, .AuthForm .register {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}

.Title {
  text-align: center;
}

.Title input {
  text-align: center;
  width: 95%;
  margin: 5px 10px 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.Toolbar button {
  display: block;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  float: right;
}

li {
  cursor: pointer;
}

ul {
  margin: 0;
  text-align: left
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}