body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbar {
  background-color: lightblue;
  text-align: center;
  padding: 2rem;
}

.btn {
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  border: 2px solid darkgreen;
  font-weight: bold;
}

.btn.save {
  background-color: rgba(144,238,144)
}

.btn.save:active {
  background-color: green;
}